.ant-slider {
    margin: 7px 5px 11px;
}

.ant-tabs-tab {
    font-size: 15px !important;
}

// 自定义提示信息的位置与大小
.ant-message {
    top: 47px;
}

.ant-message-notice {
    font-size: 16px;
}

.ant-message-notice .anticon {
    font-size: 19px;
}


.card-tab .ant-tabs-tabpane {
    // height: calc(100% - $head_height - $footer_height - 2px);
    max-height: calc(100vh - $head_height - $footer_height - 110px);
    // border: 1px solid red;
    overflow: auto;
}